* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
}

nav {
    padding: 1rem 0;
}

a {
    color: var(--booleando-lighter);
    text-decoration: none;
}

.links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    color: var(--booleando-lighter);
    font-size: 0.75rem;
    gap: 1rem;
}

img {
    max-width: 100%;
}

.d_none {
    display: none;
}

.stop-scrolling {
    overflow-y: hidden;
}