@use './variables' as *;

#site_footer {
  // height: 100px;
  background-color: $boolenado-dark;
  color: $booleando-lighter;



  a {
    color: #fff;
  }

  .social_icons {
    display: flex;
    gap: 0.5rem;
  }


}