@use './variables' as *;

#site_header {
  background-color: $booleando-primary;
  color: $booleando-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0 4px 0 $boolenado-dark;

  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;

    .logo,
    .account_icons {
      display: flex;
      align-items: center;
    }

    .product_section_links {
      font-weight: 600;
    }

    .logo {
      justify-content: center;
      width: 40%;
    }

    .account_icons {
      justify-content: flex-end;
      gap: 1rem;

      a:not(:nth-child(1)) {
        position: relative;
      }

      .counter {
        position: absolute;
        top: 40%;
        left: 60%;
        width: 0.65rem;
        height: 0.65rem;
        padding: 0.1rem 0.1rem 0.5rem 0.1rem;
        color: $booleando-primary;
        text-align: center;
        font-size: 0.5rem;
        font-weight: bold;
        background-color: white;
        border-radius: 100%;
      }
    }
  }
}