@use './variables' as *;

#site_main {
  background-color: $booleando-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3.5rem;

  /* Products list */
  .products_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem 1rem;
    padding: 3rem 0;
  }
}