@use './variables' as *;

#site_main {
  width: 100%;
  height: calc(100% - ($booleando-header-height + $booleando-footer-height));
  background-color: $booleando-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5.5rem;
  padding-bottom: 2.5rem;

  /* Products list */
  .products_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 70%;
    gap: 2rem 1rem;
  }
}