@use './variables' as *;


.product_card {
  width: 32.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;


  /* Image */
  .image {
    position: relative;
    display: inline-block;

    &:hover .hover_image {
      display: inline;
    }
  }

  .hover_image {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
  }


  /* Badges */
  .like,
  .badges {
    position: absolute;
  }

  .badges {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    bottom: 15%;
    gap: 0.5rem;
  }

  .like {
    width: 10%;
    height: 6%;
    background-color: $booleando-lighter;
    top: 1%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      color: $booleando-discount;
    }
  }

  .liked {
    color: $booleando-discount;
  }

  .discount,
  .tag {
    padding: 0.3rem 0.5rem;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .discount {
    background-color: $booleando-discount;
    color: $booleando-lighter;
  }

  .tag {
    background-color: $booleando-sustainability;
    color: $booleando-lighter;
  }

  /* Description */
  .product_description {
    align-self: flex-start;
    list-style: none;


    .product_brand {
      font-size: 0.8rem;
    }

    .product_name {
      font-weight: bold;
    }

    .product_price {
      font-size: 0.9rem;
    }

    .discount_price {
      font-weight: bold;
      font-size: 1.2rem;
      color: $booleando-discount;
      padding-right: 0.5rem;
    }

    .normal_price {
      font-size: 1.2rem;
    }

    .old_price {
      text-decoration: line-through;
    }
  }
}