$booleando-primary: rgba(255, 105, 0, 1);
$booleando-light: rgba(227, 227, 227, 1);
$booleando-lighter: rgba(255, 255, 255, 1);
$boolenado-dark: rgba(26, 26, 26, 1);
$booleando-discount: rgba(255, 0, 0, 1);
$booleando-sustainability: rgba(0, 128, 0, 1);